@media only screen and (max-width: 600px) {
    .header-section {
        display: flex;
        background: #353434cf;
        justify-content: center;
        align-items: center;
        padding: 5px 0px;
        position: static;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    .nav-section {
        display: none;
    }

    .logo {
        border: 2px solid white;
        font-size: 22px;
        padding: 8px 16px;
        text-align: center;
        color: white;
    }

    .other-nav {
        display: none;
    }

    section.main-carousel {
        position: relative;
    }

    .slick-prev {
        left: 25px !important;
        z-index: 999 !important;
    }

    .slick-next {
        right: 25px !important;
        z-index: 999 !important;
    }

    .text {
        color: white;
        font-size: 34px;
        font-weight: 600;
    }

    button.top-button {
        margin-top: 26px;
        border: none;
        padding: 12px 15px;
        color: white;
        background: blue;
        font-size: 12px;
        border-radius: 6px;
        letter-spacing: 2px;
        cursor: pointer;
    }

    h2.service-heading {
        margin-top: 0px;
        color: white;
        font-size: 25px;
        text-align: center;
        padding: 33px 0px;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: 0;
    }

    .service-flex {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        width: auto;
        flex-direction: column;
    }

    .inner-section {
        text-align: center;
        margin-right: 0px;
        padding: 24px;
    }

    .service-inner-heading {
        color: white;
        font-size: 16px;
        margin-top: 25px;
        letter-spacing: 2px;
        margin-bottom: 1px;
    }

    .service-heading {
        line-height: 27px;
        color: #c4bfbf;
        font-size: 14px;
        margin-top: 9px;
        margin-bottom: 50px;
    }

    button.button-inner {
        border: none;
        padding: 20px 36px;
        color: white;
        background: blue;
        font-size: 12px;
        border-radius: 6px;
        margin: 30px 0px 100px 0px;
        letter-spacing: 2px;
        cursor: pointer;
    }

    .trainers-text {
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 50px 0px 13px 0px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    h2.trainers-heading {
        margin-top: 0px;
        color: white;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding-bottom: 25px;
    }

    .trainer-flex {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        width: auto;
        flex-direction: column;
        text-align: center;
    }

    .trainer-name {
        padding: 12px 14px;
        text-align: center;
        color: white;
        text-align: center;
        font-size: 16px;
        letter-spacing: 2px;
    }

    .trainers-spec {
        margin-bottom: 50px;
        margin-top: 1px;
    }

    img.trainer-image-icon {
        margin-top: 20px;
    }
    .icon-image-overlap {
        height: 85px;
        width: 85px;
        background: blue;
        border-radius: 50%;
        text-align: center;
        margin: -54px auto 25px;
        z-index: 990;
        position: relative;
    }

    .light-box.open {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        /* margin: 0 auto; */
        z-index: 999999999999999;
        text-align: center;
        background: #000;
        left: 0;
        padding: 0px;
        border-radius: 4px;
        bottom: 0;
        right: 0;
    }

    .footer-nav {
        display: none;
        margin-top: 40px;
        margin-bottom: 60px;
    }

    input.email-footer-input {
        border: 2px solid #a8a3a3;
        background: none;
        padding: 12px 16px;
        color: white;
        font-family: cursive;
        text-align: left;
        font-size: 13px;
        box-shadow: none;
        border-right: 0px;
    }

    button.footer-button {
        border: none;
        padding: 18px 11px;
        color: white;
        background: #184193;
        font-size: 10px;
        letter-spacing: 2px;
        vertical-align: top;
        margin-left: -4px;
    }

    .social-icon {
        padding: 0px 10px;
    }

    .footer-copyright {
        text-align: center;
        color: white;
        font-size: 9px;
        padding: 37px;
        letter-spacing: 1px;
    }

    .header-search {
        position: absolute;
        right: 25px;
    }

    .toggle {
        display: block;
        position: absolute;
        z-index: 99;
        left: 10px;
        padding: 15px;
    }

    .sidenav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999999;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

}